*.jpeg
*.gif
dataset*
sample/
test/
logs/
sample*
test*
logs*
*.zip
*.png
*.jpg
*checkpoint*
checkpoints/*
checkpoint/
checkpoints/
*.*~
*.*swp
*.*swo
*.swp
*.swo
*.pyc
*.pkl
*.MP4
*.mp4
*.avi
*.mpeg
*.mkv
